{% extends "base.html" %} {% block title %}stan lee know{% endblock %} {% block content
%}
<link rel="stylesheet" href="profile.css">

<form method="POST">
  <h2 align="center">your HO-home</h2>
  </form>

<div class="profile-ava"><img src="{(User.user.avatar)}"></div>

<div align="left">
  <p align="justify"><big><b>дней вместе с Минхо:</b></big> {{dat +1}}</p>
  <p><big><b>старое имя: </b></big>{{user.first_name}}</p>
  <p><big><b>почта:</b></big> {{user.email}}</p>
  <p><big><b>новое имя:</b></big> {{user.new_name}}</p>
  <p><big><b>ранг:</b></big> {{rang}}</p>

</div>
<form method="post" enctype="multipart/form-data">
                               <div class="form-group">
                                    <label for="photo">Выберите файл</label>
                                    <input type="file" class="form-control-file" id="photo" name="file">
                                </div>
                                <button type="submit" class="btn btn-primary">измениться</button>
                            </form>
{% endblock %}